@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #249f99;
  --footer-color: #071527;
  --text-blue: #123a6d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.section > h3 {
  color: var(--text-blue);
  font-weight: bold;
}

.hr {
  /* border: 1px solid var(--main-color); */
  background-color: var(--main-color);
  padding: 1px 0px;
}
